.root {
    -fx-pref-width: 920;
    -fx-pref-height: 550;
    -fx-background-color: "#9A989C";
}

.panel {
    -fx-arc-width: 15;
    -fx-arc-height: 15;
    -fx-border-radius: 35px;
    -fx-fill: "#1C8899";
    -fx-stroke: Black;

}

.button {
    -fx-background-color: "#BFB59E";
    -fx-font-family: Arial;
    -fx-font-size: 18;
    -fx-border-color: BLACK;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.button:armed {
    -fx-background-color: "#9A989C";
}

.toggle {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-color: rgba(0, 0, 0, 0);
}

.toggle:armed {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-graphic: "privacy.png";
}

.text-field {
    -fx-font-family: Arial;
    -fx-font-size: 18;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: "#56CEE8";
    -fx-border-color: BLACK;
    -fx-padding: 10, 10, 5, 10;
}

.password-field {
    -fx-font-family: Arial;
    -fx-font-size: 18;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: "#56CEE8";
    -fx-border-color: BLACK;
    -fx-padding: 10, 10, 5, 10;
}


.label {
    -fx-font-family: Arial;
    -fx-font-size: 18;
    -fx-wrap-text: true;
}

.warning {
    -fx-text-fill: RED;

}

.banner {
    -fx-font-family: Georgia;
    -fx-font-size: 72;
}

.hint {
    -fx-font-size: 9;
}

.hyperlink {
    -fx-font-family: Arial;
    -fx-font-size: 14;
    -fx-border-color: rgba(0, 0, 0, 0);
    -fx-text-fill: BLACK;
    -fx-underline: TRUE;
}

.hyperlink:armed {
    -fx-border-color: BLACK;
    -fx-text-fill: CYAN;
}

